<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="MVC">
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <dependent-module archiveName="ojdbc11.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/C:/Users/ssreeja/Documents/ojdbc11.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="MVC"/>
        <property name="java-output-path" value="/MVC/build/classes"/>
    </wb-module>
</project-modules>
